*,
*:after,
*:before {
  box-sizing: border-box;
}

@mixin flex($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@keyframes buttonColorLoop {
  0% {
    color: var(--main-purple);
  }
  50% {
    color: var(--light-purpule);
  }
  100% {
    color: var(--main-purple);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

:root {
  --main-purple: #9651ef;
  --secondary-purple: #ae74f8;
  --light-purpule: #ccb7e7;
  --yellow: #fff597;
  --red: #f23a3a;
  --grey: #717171;
}

.hidden {
  animation: fadeOut 1s forwards;
  opacity: 0;
  visibility: hidden;
}

.visible {
  animation: fadeIn 1s forwards;
  opacity: 1;
  visibility: visible;
}

body {
  @include flex(row, space-between, space-between);

  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--main-purple);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(1vw + 1vh + 5px);
  color: var(--yellow);

  &:after {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(40%);
    transition: transform 0.5s ease-in-out;

    height: 100vh;
    width: 40vw;
    z-index: -1;

    content: "";
    background-color: var(--secondary-purple);
  }
}

.animateBackground {
  &:after {
    transform: translateX(100%);
  }
}

.sidebar {
  @include flex(column, center, flex-start);

  width: 30%;
  padding: 10vh 50px;
}

.main {
  @include flex(column, center, center);
  width: 40%;
}

.tilesWrapper {
  width: 60vh;
  height: 60vh;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  transform: rotate(45deg);

  .tile {
    width: 90%;
    height: 90%;
    background-color: var(--yellow);
    transition: background-color 0.25s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }
}

.failsWrapper {
  @include flex(row, center, space-between);

  margin-bottom: 100px;

  .fail {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 30px;

    background-color: var(--yellow);

    &:last-child {
      margin-right: 0;
    }
  }

  .failed {
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      content: "";
      width: 10px;
      height: 80%;
      background-color: var(--red);
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      content: "";
      width: 10px;
      height: 80%;
      background-color: var(--red);
    }
  }
}

.gameOver {
  @include flex(column, center, center);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40vw;
  z-index: 1;

  background-color: var(--red);
  padding: 40px;
  border-radius: 10px;
}

.btn {
  background: none;
  background-color: var(--yellow);
  border: none;
  font-family: inherit;
  font-weight: inherit;
  color: var(--main-purple);
  font-size: 1.5em;
  padding: 15px 45px;
  border-radius: 10px;
  animation: buttonColorLoop 1.5s infinite;
  transition: all 1s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

  .tilesWrapper {
    height: 60vw;
    width: 60vw;
  }
}
